<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
      <h1>Scrabble Score Calculator</h1>
      <div class="form">
        <form action="/result" method="post">
          <label for="word"></label>
          <input type="text" name="word"class="form-control" placeholder="Enter your word here">
          <button type="submit"class="btn btn-info">Check Score</button>
        </form>
      </div>
    </div>
