<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
      <h1>Scrabble Score Calculator</h1>
      <div class="form">
        <h2>@Model.ScrabbleWord</h2>
        <h3>Score: @Model.WordScore</h3>
      </div>
      <h5><a href="/">Check another word</a></h5><br>
    </div>
