<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
    <div class="jumbotron">
      <h1>TEMPLATE</h1>
    </div>
      <h2>TEMPLATE</h2><br>
      <h3>The word @Model.ScrabbleWord has a score of @Model.WordScore</h3>

      <h5><a href="/">Check another word</a></h5><br>
    </div>
